[package]
authors = ["Triton Software"]
edition = "2021"
name = "neptune-core"
version = "0.0.3"
default-run = "neptune-core"
publish = false

[dev-dependencies.cargo-husky]
default-features = false                                           # Disable features which are enabled by default
features = ["precommit-hook", "run-cargo-clippy", "run-cargo-fmt"]
version = "1"

[dependencies]
aead = "0"
aes-gcm = "0"
anyhow = "1"
bech32 = "0"
bincode = "1"
bytes = "1"
bytesize = "1"
chrono = "^0.4.26"
clap = { version = "4", features = ["derive"] }
crossterm = "0"
directories = "5"
field_count = "0.1.1"
futures = "0"
get-size = { version = "0", features = ["derive"] }
itertools = "0.11"
memmap2 = "0.7"
num-bigint = { version = "0", features = ["serde"] }
num-traits = "0"
num-rational = "0"
priority-queue = "1"
rand = "0.8"
rusty-leveldb = "2"
semver = "^1.0.18"
serde = { version = "1", features = ["derive"] }
serde_derive = "1"
serde_json = "1"
strum = "0"
strum_macros = "0"
tarpc = { version = "0", features = ["tokio1", "serde-transport", "tcp"] }
# tasm-lib = { git = "https://github.com/TritonVM/tasm-lib.git", tag = "v0.2.1" }
# tasm-lib = { git = "https://github.com/TritonVM/tasm-lib.git", branch = "asz/refactor-snippet-traits" }
tasm-lib = { path = "../tasm-lib/tasm-lib/" }
tokio = { version = "1", features = ["full", "tracing"] }
tokio-serde = { version = "0", features = ["bincode", "json"] }
tokio-util = { version = "0", features = ["codec"] }
tracing = "0"
tracing-subscriber = { version = "0", features = [
    "std",
    "env-filter",
    "time",
    "fmt",
] }
tracing-test = "0"
triton-vm = "0.33.0"
twenty-first = "0.32.1"
tui = "0"
unicode-width = "0"

[dev-dependencies]
pin-project-lite = "0"
tokio-test = "0"

# needed because it otherwise takes too long to sign transaction with STARK proofs
[profile.dev.package.triton-vm]
opt-level = 3

[profile.release.package.triton-vm]
opt-level = 3

[profile.bench.package.triton-vm]
opt-level = 3

[profile.test.package.triton-vm]
opt-level = 3

# [profile.test]
# opt-level = 0 # change to 3 for shorter test running times but much longer test compilation time
# debug = true
# debug-assertions = true
# overflow-checks = true
# lto = false
# incremental = true
# codegen-units = 256
# rpath = false
