[package]
authors = ["Triton Software"]
edition = "2021"
name = "neptune-core"
version = "0.0.5"
default-run = "neptune-core"
publish = false

[dependencies]
aead = "0"
aes-gcm = "0"
anyhow = "1"
bech32 = "0"
bincode = "1"
tiny-bip39 = "1.0.0"
bytes = "1"
bytesize = "1"
chrono = "^0.4.31"
clap = { version = "4", features = ["derive"] }
clap_complete = "4.4.6"
console-subscriber = "0.2.0"
crossterm = "0"
directories = "5"
field_count = "0.1.1"
futures = "0"
get-size = { version = "0", features = ["derive"] }
itertools = "0.11"
memmap2 = "0.9"
num-bigint = { version = "0", features = ["serde"] }
num-rational = "0"
num-traits = "0"
priority-queue = "1"
rand = "0.8"
ratatui = "0.23"
semver = "^1.0.21"
serde = { version = "1", features = ["derive"] }
serde_derive = "1"
serde_json = "1"
strum = { version = "0.25", features = ["derive"] }
tarpc = { version = "^0.34", features = ["tokio1", "serde-transport", "tcp"] }
tasm-lib = "0.2.1"
tokio = { version = "1", features = ["full", "tracing"] }
tokio-serde = { version = "0", features = ["bincode", "json"] }
tokio-util = { version = "0", features = ["codec"] }
tracing = "0"
tracing-subscriber = { version = "0", features = [
    "std",
    "env-filter",
    "time",
    "fmt",
] }
tracing-test = "0"
unicode-width = "0"
zeroize = "1.7.0"

[dev-dependencies]
pin-project-lite = "0.2.13"
tokio-test = "0"

[dev-dependencies.cargo-husky]
default-features = false
features = ["precommit-hook", "run-cargo-clippy", "run-cargo-fmt"]
version = "1"

# needed because it otherwise takes too long to sign transaction with STARK proofs
[profile.dev.package.triton-vm]
opt-level = 0

[profile.release.package.triton-vm]
opt-level = 3

[profile.bench.package.triton-vm]
opt-level = 3

[profile.test.package.triton-vm]
opt-level = 0

# [profile.test]
# opt-level = 0 # change to 3 for shorter test running times but much longer test compilation time
# debug = true
# debug-assertions = true
# overflow-checks = true
# lto = false
# incremental = true
# codegen-units = 256
# rpath = false

[patch.crates-io]
# rev = "93eeaa1b310a51857c23c33e5f8b7a45db584b7b" is tip of branch `prelude` as of 2024-01-24
tasm-lib = { git = "https://github.com/TritonVM/tasm-lib.git", rev = "93eeaa1b310a51857c23c33e5f8b7a45db584b7b" }
